.button-group {
    & a {
        margin: calc(var(--spacing) / 2) calc(var(--spacing) / 2) calc(var(--spacing) / 2) calc(var(--spacing) / 2);
    }
}

.button-group a,
.button {
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    box-sizing: border-box;
    padding: var(--rem-18px);
    text-align: center;
    box-shadow: none;
    border: none;
    &:hover,
    &:focus {
        background-color: var(--blue);
        color: #fff;
    }
}

