
/*external window*/
@keyframes(fadetopright) {
  from {    right: 0;       opacity: 1; bottom: 5px;      }
  to   {    right: -40px;  opacity: 0.2; bottom: 20px;   }
}

/*expand image*/
@keyframes(fadeleft) {
  from {    left: 15px;     opacity: 1;     }
  to   {    left: calc(15 - 30px);  opacity: 0.1;   }
}
@keyframes(faderight) {
  from {    right: 0;      opacity: 1;     }
  to   {    right: -30px;  opacity: 0.1;   }
}
@keyframes(fadeleft2) {
  from {    left: 15px;    opacity: 1;      }
  to   {    left: calc(15 + 6px);  opacity: 0.2 ;   }
}
@keyframes(faderight2) {
  from {    right: 0;    opacity: 1;     }
  to   {    right: 6px;  opacity: 0.2;   }
}


