<div class="accordion">
    <input type="checkbox" id="accordion-1" name="accordion-checkbox" hidden>
    <label class="accordion-header" for="accordion-1">
        <i class="icon icon-arrow-right mr-1"></i>
        Title
    </label>
    <div class="accordion-body">
        Accordions content
    </div>
</div>
<div class="accordion">
    <input type="checkbox" id="accordion-1" name="accordion-checkbox" hidden>
    <label class="accordion-header" for="accordion-1">
        <i class="icon icon-arrow-right mr-1"></i>
        Title 2
    </label>
    <div class="accordion-body">
        Accordions content 2
    </div>
</div>