
header {
    padding: 30px 0;
    @mixin respond mobile {
        padding: 15px 0;
    }
    h1 {
    }
    nav {
        ul {
            list-style: none;
        }
        li {
            display: inline-block;
        }
    }
} 

footer {
}
