header {
    @include maxwidth();
    clear: both;
    .logo { 
        float: left; 
        padding-bottom: 16px; 
    }
    nav {
        text-align: right;
        ul { 
            li { 
                display: inline-block; 
            }
            a {
                display: inline-block;
                text-decoration: none;
                color: $textcolor;
                padding: 0 10px;
            }
        }
    }
}


footer {
    @include maxwidth();

    ul { 
        text-align: right;
        li { 
            display: inline-block; 
            a {
                display: inline-block;
                text-decoration: none;
                color: $textcolor;
                padding: 0 10px;
                border-left: 1px solid $textcolor;
            }
            &:first-child a { border-left: none; }
        }
    }
}




#mobilemenu {
    position: absolute;
    top: 14px;
    right: 25px;

    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 45px;
    height: 45px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    background-color: #fff;
    &:focus {
        outline: none;
    }
    span {
        display: block;
        position: absolute;
        top: 22px;
        left: 0;
        right: 0;
        height: 4px;
        background: $textcolor;
        @include animate();
        &::before, &::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $textcolor;
            content: "";
        }
        &::before {
            top: -16px;
        }
        &::after {
            bottom: -15px;
        }

    }
    &.active {
        span {
            @include rotate(90deg);
            background: $linkcolor;
            &::before, &::after {
                background-color: $linkcolor;
            }
        }
    }
}

