<!-- contact.njk -->
{% extends "layout.njk" %}

{% block bodyClass %}pg-contact{% endblock %}

{% block pageTitle %}
	Contact
{% endblock %}

{% block navigation %}
    {% import 'partials/nav.njk' as nav %}
    {{nav.active('contact')}}
{% endblock %}

{% block content %}
	<h1>contact page</h1>
{% endblock %}